.sidebar{
  position: fixed;
  z-index: 1;
  max-width: 18%;
  min-height: 100%;
  background-color: rgba(167, 167, 167, 0.609);
  color: white;
  display: flex;
  flex-direction: column-reverse;
  h2{
    margin: 2rem;
    margin-bottom: 4rem;
  }
}

.tip{
  position: fixed;
  z-index: 1;
  padding: 1rem;
  max-width: 8rem;
  background-color: rgba(167, 167, 167, 0.603);
  color: white;
  display: flex;
  flex-direction: column-reverse;
  right: 3%;
  bottom: 3%;
  border-radius: 5%;
}